* {
  box-sizing: border-box;
}

.videos>h1{
  padding: 0 50px;
}

.videoData {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.video {
  width: 300px;
}
.video img {
  height: 192px;
  width: 100%;
  border-radius: 10px;
}
.videoDetails {
  max-width: 343px;
  margin-bottom: 30px;
}
.videoDetails h3 {
  margin: 5px 0px;
}
.videoDetails p {
  margin: 5px 0px;
}
.shorts>h1{
  padding: 0 50px;
}
.shortsData
{
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.YTshorts
{
width: 164px;
}
.YTshorts img
{
  height: 290px;
  width: 100%;
  border-radius: 10px;
}
.YTshortsDetails h3 {
  margin: 5px 0px;
}
.YTshortsDetails p {
  margin: 5px 0px;
}